
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(()=>{
    console.log(window.location.pathname);
    if(window.location.pathname=="/"){
      console.log(document.getElementsByClassName("home")[0]);
      document.getElementsByClassName("home")[0].classList.add("active");
    }
    else if(window.location.pathname=="/analytis")
      document.getElementsByClassName("analytis")[0].classList.add("active");
    else if(window.location.pathname=="/about")
      document.getElementsByClassName("about")[0].classList.add("active");
     document.getElementsByClassName("close-header")[0].addEventListener("click", (e) => {
       document.getElementsByClassName("navbar")[0].style.display = "none";
       document.getElementById("viewDiv").style.height = "100vh"  ;
       document.querySelector(".fullView").style.right = "30px";
       console.log(document.querySelector(".fullView"));
     })
     document.getElementsByClassName("fullView")[0].addEventListener("click", (e) => {
       document.getElementsByClassName("navbar")[0].style.display = "flex";
       document.getElementById("viewDiv").style.height = "90vh";
       document.querySelector(".fullView").style.right = "-300px";
     })
  })


</script>


<div class="fullView"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary header--analytis ">
  
  <div class="close-header">X</div>
    <a class="navbar-brand hidden" href="#">
      <img src="/images/logo.png" alt="" style="width: 50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item home">
          <a class="nav-link" href="/">Trang Chủ</a>
        </li>
        <li class="nav-item analytis">
          <a class="nav-link" href="/analytis">Thống kê <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/Login">Quản trị</a>
        </li>
        <li class="nav-item about">
            <a class="nav-link" href="/about">Về chúng tôi</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tương lai
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tính năng search</a>
            <a class="dropdown-item" href="#">Tính năng trợ giúp</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Và còn nhiều hơn thế nữa ...</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>