<div class='AdminProduct'>
    <div class="container">
        <h2 class="admin-title">
            Chi tiết thành phố
        </h2>
        <div class="admin-control">
            <a href="/admin/DetailCity/create" class="admin-controll-add btn btn-primary">
                Thêm chi tiết thành phố
            </a>
        </div>
        <div class="AdminProduct-list">
            <div class="row">
                <div class="col-12 mb-5">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Chọn thành phố</option>
                        
                      </select>
                </div>
                <div class="col-12">
                    <div class="table-responsive wishlist_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-name">Năm</th>
                                    <th class="product-price">Mô tả</th>
                                    <th class="product-add-to-cart">Sửa</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>