<section class="text-center aboutreal">
    <h1>Về chúng tôi</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-ex-12 aboutreal-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fas fa-layer-group"></span>
          <h2>Khoa Đăng</h2>
          <p class="lead">Thiết kế database, Thiết kế giao diện, Thu thập dữ liệu</p>
          <img src="https://scontent-sin6-4.xx.fbcdn.net/v/t1.6435-9/35280625_669619663369717_5202690195714998272_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_ohc=Ea9e_gjkPTcAX_CZTqu&_nc_ht=scontent-sin6-4.xx&oh=01c42f0ea85e42f8281c4ae7e6b9b0fd&oe=60EB849B" alt="" class="aboutreal--avatar">
        </div>
        <div class="col-lg-4 col-sm-6 col-ex-12 aboutreal-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info"></span>
            <h2>Văn Hưng </h2>
            <p class="lead">Thiết kế giao diện, Thu thập dữ liệu, Lên ý tưởng thiết kế, Tổ chức dữ liệu</p>
            <img src="https://scontent-sin6-4.xx.fbcdn.net/v/t1.6435-9/77418287_632939003907411_3573377781993570304_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=hkMmCN_AIAsAX9pjvwF&_nc_ht=scontent-sin6-4.xx&oh=7a5bfd5c0002a295f1b5bb4e7d8d493d&oe=60E9DE20" alt="" class="aboutreal--avatar">
        </div>
        <div class="clearfix visible-md-block visible-sm-block"></div>
        <div class="col-lg-4 col-sm-6 col-ex-12 aboutreal-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-file"></span>
            <h2>Đức Dũng</h2>
            <p class="lead">Thiết kế database, Thiết kế giao diện, Thu thập dữ liệu</p>
            <img src="https://scontent-xsp1-3.xx.fbcdn.net/v/t1.15752-9/116276212_725368434697119_3980742706254732043_n.png?_nc_cat=111&ccb=1-3&_nc_sid=ae9488&_nc_ohc=IGmEgCGUUHMAX-atm7f&_nc_ht=scontent-xsp1-3.xx&oh=e658a9ddb93f057da7a87403e5c06176&oe=60EA90A9" alt="" class="aboutreal--avatar">
        </div>
      </div>  
    </div>
  </section>