  <div class="admin-sidebar">
        <div class="admin-sidebar-logo">
            <img src="" alt="" class="admin-sidebar-login-img" />
        </div>
        <div class="admin-sidebar-nav">
            <a class='admin-sidear-nav-item'>
                <i class="fas fa-bell"></i>
                <span>BẢNG THỐNG KÊ</span>
            </a>
            <a class='admin-sidear-nav-item' href="/admin/City">
                <i class="fas fa-bell"></i>
                <span>THÊM THÀNH PHỐ</span>
            </a>
            <a class='admin-sidear-nav-item' href="/admin/DetailCity">
                <i class="fas fa-bell"></i>
                <span>THÊM CHI TIẾT THÀNH PHỐ</span>
            </a>
            <a class='admin-sidear-nav-item' href="/admin/region">
                <i class="fas fa-bell"></i>
                <span>THÊM MIỀN</span>
            </a>

        </div>
    </div>
  